*{
    padding: 3px;
    margin: 1px;
}
.CabDiv{
    background-color:azure;
    text-align: center;
    justify-content: center;
    width: 95vw;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-top: 20px;
}
.TelaPrincipalDiv{
    width: auto;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 45px;
}
.SomaDiv{
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.SubDiv{
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.DivisaoDiv{
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.MultDiv{
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.MediaDiv{
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
button{
    background-color:aliceblue;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;    width: 7vw;
    height: 5vh;
    border-radius: 7px;
}
button:hover{
    transition: all 150ms linear;
    cursor: pointer;
    opacity: 10;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px;
}
.inputs-style{
    height: 20px;
    width: 10px;
    border-radius: 10px ;
    background-color: lightblue;
}
.inputs-style>:focus{
    font-weight: 900;
    border: 2px;
}
h1{
    font-family: 'Playfair Display', serif;}
h2{
    font-family: 'Playfair Display', serif;}
label{    
    font-family: 'Playfair Display', serif;}
